{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
{% block customCSS %}<link rel="stylesheet" href="{{ asset('css/login.css') }}"/>{% endblock %}

{% block body %}
    <div class="container login-container">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté avec l'adresse {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Merci de vous identifier</h1>

            <div class="input-group mb-3">
                <label for="inputEmail" class="sr-only">Email</label>
                <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                </div>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
            </div>
            <div class="input-group mb-3">
                <label for="inputPassword" class="sr-only">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            </div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Me connecter automatiquement
                </label>
            </div>

            <button class="btn btn-lg btn-primary" type="submit">
                Connexion
            </button>
        </form>
    </div>
{% endblock %}
