{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block title %}{{ room.summary }}{% endblock %}

{% block body %}
    <h1>{{ room.summary }}</h1>
    <h3>{{ room.owner }}</h3>
    <hr>
    {% if room.description %}
    {{ room.description }}
    {% endif %}
    <br>
    <table>
        <tr>
            Informations générales
        </tr>
        {% if room.capacity %}
        <tr>
            <td>Nombre de lits</td>
            <td>{{ room.capacity }}</td>
        </tr>
        {% endif %}
        {% if room.superficy %}
        <tr>
            <td>Superficie</td>
            <td>{{ room.superficy }}</td>
        </tr>
        {% endif %}
    </table>
    <h2>{{ macros.format_price(room.price) }}</h2>
    <div class="favorite-area">
        {% if favorite %}
            <a class="btn btn-primary  favorite-link favorite-link-remove" href="{{ path('room_like', {'id': room.id}) }}">Retirer des favoris</a>
        {% else %}
            <a class="btn btn-primary favorite-link favorite-link-add" href="{{ path('room_like', {'id': room.id}) }}">Ajouter aux favoris</a>
        {% endif %}
    </div>
    <div>
        {% if app.user %}
            <a href="{{ path('room_reservation', { "id": room.id}) }}" class="btn btn-success">Réserver</a>
        {% else %}
            Connectez vous pour réserver cette chambre.
        {% endif %}
    </div>
{% endblock %}
