{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block title %}{{ room.summary }}{% endblock %}

{% block body %}
    <h1>{{ room.summary }}</h1>
    <h3>{{ room.owner }}</h3>
    <hr>
    {% if room.description %}
    {{ room.description }}
    {% endif %}
    <br>
    <table>
        <tr>
            Informations générales
        </tr>
        {% if room.capacity %}
        <tr>
            <td>Nombre de lits</td>
            <td>{{ room.capacity }}</td>
        </tr>
        {% endif %}
        {% if room.superficy %}
        <tr>
            <td>Superficie</td>
            <td>{{ room.superficy }}</td>
        </tr>
        {% endif %}
    </table>
    <h2>{{ macros.format_price(room.price) }}</h2>
    <div class="favorite-area">
        {% if favorite %}
            <a class="btn btn-primary  favorite-link favorite-link-remove" href="{{ path('room_like', {'id': room.id}) }}">Retirer des favoris</a>
        {% else %}
            <a class="btn btn-primary favorite-link favorite-link-add" href="{{ path('room_like', {'id': room.id}) }}">Ajouter aux favoris</a>
        {% endif %}
    </div>
    <div>
        {% if is_granted('ROLE_CLIENT') %}
            <a href="{{ path('room_reservation', { "id": room.id}) }}" class="btn btn-success">Réserver</a>
        {% elseif is_granted('ROLE_OWNER') and isOwnRoom %} {# On vérifie que le propriétaire est le bon #}
            <div class="reservations">
                <h3>Réservations</h3>
                {% if reservations is not empty %}
                    <table class="big-table">
                        <thead class="big-table-header">
                            <tr>
                                <th>Utilisateur</th>
                                <th>Jour(s)</th>
                                <th>Prix total</th>
                            </tr>
                        </thead>
                        <tbody class="big-table-body">
                            {% for reserv in reservations %}
                                {% set length = date(reserv.endTime).diff(date(reserv.startTime)).days +1 %}
                                {% set fullPrice = reserv.room.price * length %}

                                <tr>
                                    <td>{{ reserv.client.email }}</td>
                                    <td>
                                        {% if length == 1 %}
                                            Le {{ reserv.startTime|date('d/m/Y') }}
                                        {% else %}
                                            Du {{ reserv.startTime|date('d/m/Y') }} au {{ reserv.endTime|date('d/m/Y') }} ({{ length }} jours)
                                        {% endif %}
                                    </td>
                                    <td>{{ macros.format_price(fullPrice) }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    Aucune réservation.
                {% endif %}
            </div>
        {% else %}
            Connectez vous pour réserver cette chambre.
        {% endif %}
    </div>
{% endblock %}
