{% extends 'base.html.twig' %}

{% block customCSS %}
<link rel="stylesheet" href="{{ asset('css/region_list.css') }}">
{% endblock %}
{% block title %}Régions disponibles{% endblock %}

{% block body %}
    <div id="container region-list">
        <div class="col-md-6 offset-3">
            {% for region in regions %}
                <div class="container region-item border border-info border-rounded rounded-lg">
                    <a href="{{ path('region_show', {'name': region.name}) }}">
                        <div class="row col-md-12">
                            <h4 class="display-4">{{ region.name }}</h4>
                            <span>{{ region.country }}</span>
                        </div>
                        <div class="row col-md-12">
                            {{ region.presentation }}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
