{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macros %}
{% block customCSS %}
    <link href="{{ asset('css/room.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}C&C de la région {{ region.name }}{% endblock %}

{% block body %}
    <div class="container">
        Voici la liste des C&C disponibles dans la région {{ region.name }}
        {% for room in region.rooms %}
                <div class="thumbnail">
                    <a href="{{ path('room_show', {id: room.id}) }}">
                        {% if room.imageName is not null %}
                            <img src="{{ vich_uploader_asset(room, 'imageFile') }}"/>
                        {% endif %}
                        <div class="thumbnail-text">
                            <h1>{{ room.summary }}</h1>
                            <h2>{{ macros.format_price(room.price) }}/ nuit</h2>
                            Capacité: {{ room.capacity }}
                        </div>
                    </a>
                </div>
        {% endfor %}
    </div>

{% endblock %}
