{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macros %}
{% block customCSS %}
    <link href="{{ asset('css/room.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}C&C de la région {{ region.name }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="display-4">
            Annonces disponibles dans la région {{ region.name }}
        </h1>
        {% for room in region.rooms %}
                <div class="thumbnail">
                    <a href="{{ path('room_show', {id: room.id}) }}">
                        {% if room.imageName is not null %}
                            <img src="{{ vich_uploader_asset(room, 'imageFile') }}"/>
                        {% endif %}
                        <div class="thumbnail-text">
                            <h1>{{ room.summary }}</h1>
                            <h2>{{ macros.format_price(room.price) }}/ nuit</h2>
                            Capacité: {{ room.capacity }}
                        </div>
                    </a>
                </div>
        {% endfor %}
    </div>

{% endblock %}

{% block customJS %}
    <script type="text/javascript">
        // changer l'image de fond quand on passe la souris sur les annonces
        $(function() {
            function setBackground(url, opacity=0.1) {
                console.log(url);
                $("#body-background").css({
                    backgroundImage: "url(\""+url+"\")",
                });
            }

            function removeBackground() {
                setBackground('', 0);
            }

            $('.thumbnail').each(function() {
                var thumbnail = $(this);
                var img = thumbnail.find("img");
                var image = $(img);
                thumbnail.hover(function() {
                    console.log(image);
                    setBackground(image.attr('src'));
                },
                function() {
                    removeBackground();
                });
            });
        });
    </script>
{% endblock %}
